.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    list-style: none;
    padding: 1rem;
}

.fallback {
    text-align: center;
    color: var(--color-primary-200)
}

.fallback h1 {
    margin: 2rem 0;
}