.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    list-style: none;
    padding: 1rem;
}

.card {
    background-color: var(--color-primary);
    border-radius: 14px;
    padding: 1rem;
    cursor: pointer;
}


.card-image img {
    width: 100%;
    height: auto;
}

.card-title {
    font-size: 1.2rem;
    color: var(--color-secondary)
}