.control-group {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    flex-wrap: wrap;
}

.form-control {
    margin-bottom: 1rem;
}

.form-control input,
.form-control label {
    display: block;
}

.form-control label {
    font-size: 1.4rem;
    color: var(--color-primary-200);
}

.form-control input,
.form-control select {
    font: inherit;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid var(--color-primary);
    width: 20rem;
    max-width: 100%;
}

.form-control input:focus {
    outline: none;
    border-color: var(--color-secondary-200);
    background-color: var(--color-secondary);
}


.form-actions {
    text-align: center;
}