.container {
    font-family: 'Sigmar', cursive;
    background-color: var(--color-primary);
    background-image: repeating-radial-gradient(var(--color-primary), var(--color-secondary));
    color: var(--color-secondary);
    box-shadow: 0 2px 8px var(--color-shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-bottom: 5rem;
}

.navigation ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.2rem;
}

@media (min-width: 520px) {
    .navigation ul {
        flex-direction: row;
    }
}

.list a {
    text-decoration: none;
    color: var(--color-secondary);
    margin-left: 1rem;
}

.list a:hover,
.list a.active {
    color: var(--color-primary-200)
}